package org.multiverse.stms.beta;

import org.multiverse.api.*;
import org.multiverse.api.exceptions.*;
import org.multiverse.api.closures.*;
import org.multiverse.sensors.*;
import org.multiverse.stms.beta.transactions.*;

import static java.lang.String.format;
import static org.multiverse.api.ThreadLocalTransaction.*;

/**
 * @author Peter Veentjer
 */
public final class ${atomicBlock.name} extends AbstractBetaAtomicBlock{
#if(!${atomicBlock.lean})

    private final PropagationLevel propagationLevel;
#end

    public ${atomicBlock.name}(final BetaTransactionFactory transactionFactory) {
        super(transactionFactory);
#if(!${atomicBlock.lean})
        this.propagationLevel = transactionConfiguration.propagationLevel;
#end
    }

    public BetaTransactionFactory getTransactionFactory(){
        return transactionFactory;
    }

#foreach($closure in $closures)
    @Override
    public ${closure.typeParameter} ${closure.type} executeChecked(
        final ${closure.name}${closure.typeParameter} closure)throws Exception{

        try{
#if(${closure.type} eq 'void')
            execute(closure);
#else
            return execute(closure);
#end
        }catch(InvisibleCheckedException e){
            throw e.getCause();
        }
    }

#if(${atomicBlock.lean})
    @Override
    public ${closure.typeParameter} ${closure.type} execute(final ${closure.name}${closure.typeParameter} closure){

        if(closure == null){
            throw new NullPointerException();
        }

        ThreadLocalTransaction.Container transactionContainer = getThreadLocalTransactionContainer();
        BetaTransaction tx = (BetaTransaction)transactionContainer.transaction;
        if(tx == null || !tx.isAlive()){
            tx = null;
        }

        try{
            if(tx != null && tx.isAlive()){
#if(${closure.type} eq 'void')
                closure.execute(tx);
                return;
#else
                return closure.execute(tx);
#end
            }

            tx = transactionFactory.start(transactionContainer.transactionPool);
            transactionContainer.transaction=tx;
#transactionLogic()

    }
#else ## end of atomicblock.lean
    public ${closure.typeParameter} ${closure.type} execute(final ${closure.name}${closure.typeParameter} closure){

        if(closure == null){
            throw new NullPointerException();
        }

        ThreadLocalTransaction.Container transactionContainer = getThreadLocalTransactionContainer();
        BetaTransaction tx = (BetaTransaction)transactionContainer.transaction;
        if(tx == null || !tx.isAlive()){
            tx = null;
        }

        try{
            switch (propagationLevel) {
                case Requires:
                    if (tx == null) {
                        tx = transactionFactory.start(transactionContainer.transactionPool);
                        transactionContainer.transaction = tx;
#if($closure.type eq 'void')
                        execute(tx, transactionContainer, closure);
                        return;
#else
                        return execute(tx, transactionContainer, closure);
#end
                    } else {
#if($closure.type eq 'void')
                        closure.execute(tx);
                        return;
#else
                        return closure.execute(tx);
#end
                    }
                case Mandatory:
                    if (tx == null) {
                        throw new NoTransactionFoundException(
                            format("No transaction is found for atomicblock '%s' with 'Mandatory' propagation level",
                                transactionConfiguration.familyName));
                    }
#if($closure.type eq 'void')
                    closure.execute(tx);
                    return;
#else
                    return closure.execute(tx);
#end
                case Never:
                    if (tx != null) {
                        throw new NoTransactionAllowedException(
                            format("No transaction is allowed for atomicblock '%s' with propagation level 'Never'"+
                                ", but transaction '%s' was found",
                                transactionConfiguration.familyName, tx.getConfiguration().getFamilyName())
                        );
                    }
#if($closure.type eq 'void')
                    closure.execute(null);
                    return;
#else
                    return closure.execute(null);
#end
                case RequiresNew:
                    if (tx == null) {
                        tx = transactionFactory.start(transactionContainer.transactionPool);
                        transactionContainer.transaction = tx;
#if($closure.type eq 'void')
                        execute(tx, transactionContainer, closure);
                        return;
#else
                        return execute(tx, transactionContainer, closure);
#end
                    } else {
                        BetaTransaction suspendedTransaction = tx;
                        tx = transactionFactory.start(transactionContainer.transactionPool);
                        transactionContainer.transaction = tx;
                        try {
#if($closure.type eq 'void')
                            execute(tx, transactionContainer, closure);
                            return;
#else
                            return execute(tx, transactionContainer, closure);
#end
                        } finally {
                            transactionContainer.transaction = suspendedTransaction;
                        }
                    }
                case Supports:
#if($closure.type eq 'void')
                    closure.execute(tx);
                    return;
#else
                    return closure.execute(tx);
#end
                default:
                    throw new IllegalStateException();
            }
        }catch(RuntimeException e){
            throw e;
        }catch(Exception e){
            throw new InvisibleCheckedException(e);
        }
   }

   private ${closure.typeParameter} ${closure.type} execute(
       BetaTransaction tx, final ThreadLocalTransaction.Container transactionContainer, final ${closure.name}${closure.typeParameter} closure)throws Exception{

       try{
#transactionLogic()

   }

#end ##end of atomicblock.lean
#end ##end of for loop over closures
#macro( transactionLogic )
            boolean abort = true;

            try {
                do {
                    try {
#if(${closure.type} eq 'void')
                        closure.execute(tx);
#else
                        ${closure.type} result = closure.execute(tx);
#end
                        tx.commit();
                        abort = false;
#if(${closure.type} eq 'void')
                        return;
#else
                        return result;
#end
                    } catch (Retry e) {
                        waitForChange(tx);
                    } catch (SpeculativeConfigurationError e) {
                        BetaTransaction old = tx;
                        tx = transactionFactory.upgradeAfterSpeculativeFailure(tx,transactionContainer.transactionPool);
                        transactionContainer.transactionPool.putBetaTransaction(old);
                    } catch (ReadConflict e) {
                        backoffPolicy.delayedUninterruptible(tx.getAttempt());
                    } catch (WriteConflict e) {
                        backoffPolicy.delayedUninterruptible(tx.getAttempt());
                    }
                } while (tx.softReset());
            } finally {
                if(___ProfilingEnabled){
                    TransactionSensor sensor = transactionConfiguration.transactionSensor;
                    if(sensor != null){
                        sensor.signalExecution(tx.getAttempt(), !abort);
                    }
                }

                if (abort) {
                    tx.abort();
                }

                transactionContainer.transactionPool.putBetaTransaction(tx);
                transactionContainer.transaction = null;
            }
        }catch(RuntimeException e){
            throw e;
        }catch(Exception e){
            throw new InvisibleCheckedException(e);
        }

        throw new TooManyRetriesException(
            format("[%s] Maximum number of %s retries has been reached",
                transactionConfiguration.getFamilyName(), transactionConfiguration.getMaxRetries()));
#end ##end of macro
}
