body {

    padding: 0; /* need for Opera */
    padding-top: 0;
    color: #333;
    min-width: 610px;
    max-width: 900px;
    background: #efefef;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

body, td, th, input {
    font-family: verdana, sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
    border-bottom: dotted 1px; /*outline: none;*/
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 130%;
}

h5 {
    font-size: 120%;
}

h5 {
    font-size: 110%;
}

h1 h2 h3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

.chapter h1 {
}

.appendix h1 {
}

.section h2 {
    font-size: 130%;
}

/*
 * Table of Contents
 */

.toc dl, .list-of-examples dl {
    margin-top: 0;
    margin-bottom: 0;
}

.book {
    background-color: #ffffff;
    padding: 25px;
}

.chapter {

}

.book .toc > dl > dt {
/*margin-top: 0.6em;*/
}

.book .toc, .book .list-of-examples {
/*margin-top: 2em;*/
}

/*
 * HEADER/FOOTER
 */

.navheader {

}

.navfooter {
    border-top: 1px solid #000;
}

.navbar {
    color: #a2a2a2;
    background-color: #cccccc;
    font-size: 90%;
    padding: 12px 12px;
    text-align: right;
}

.navbar a {
    color: #444444;
}

.navbar span {
    /*padding-left: .8em;
    padding-right: .8em;*/
}

.book > .titlepage {
}

.book div.title {

}

div.title {
    background: #4070A0;
    color: #fff;
}

.titlepage h1.title {
    font-size: 280%;
}

.titlepage h2.subtitle {
    font-size: 160%;
    font-style: italic;
}

.titlepage .releaseinfo {
    font-size: 120%;
}

.titlepage .author {
}

.titlepage .copyright {
    font-size: 90%;
}

.titlepage .legalnotice {
    font-size: 90%;
}

.literal, .userinput, .filename {
    white-space: nowrap;
}

.chapter {
    background-color: white;
    color: #666;
}