package org.multiverse.stms.beta.transactions;

import org.multiverse.api.*;
import org.multiverse.api.blocking.*;
import org.multiverse.api.exceptions.*;
import org.multiverse.api.functions.*;
import org.multiverse.api.lifecycle.*;
import org.multiverse.stms.beta.*;
import org.multiverse.stms.beta.transactionalobjects.*;
import org.multiverse.stms.beta.conflictcounters.*;

import static org.multiverse.stms.beta.ThreadLocalBetaObjectPool.*;

import static java.lang.String.format;

/**
 * A BetaTransaction tailored for dealing with 1 transactional object.
 *
 * This class is generated.
 *
 * @author Peter Veentjer
 */
public final class ${transaction.name} extends ${transaction.superClass} {

    private Tranlocal attached;
#if(!${transaction.lean})
    private boolean hasReads;
    private boolean hasUntrackedReads;
    private final LocalConflictCounter localConflictCounter;
#end

    public ${transaction.name}(final BetaStm stm){
        this(new BetaTransactionConfiguration(stm));
    }

    public ${transaction.name}(final BetaTransactionConfiguration config) {
        super(${transaction.poolName}, config);
        this.remainingTimeoutNs = config.timeoutNs;
#if(!${transaction.lean})
        this.localConflictCounter = config.globalConflictCounter.createLocalConflictCounter();
#end
    }

#if(!${transaction.lean})
    public final LocalConflictCounter getLocalConflictCounter(){
        return localConflictCounter;
    }
#end

    @Override
    public void start(){
        start(getThreadLocalBetaObjectPool());
    }

    @Override
    public void start(final BetaObjectPool pool){
        if(status != NEW){
            switch(status){
                case ACTIVE:
                    //it can't do harm to start an already started transaction
                    return;
                case PREPARED:
                    abort(pool);
                    throw new PreparedTransactionException(
                        format("Can't start already prepared transaction '%s'",config.familyName));
                case ABORTED:
                    throw new DeadTransactionException(
                        format("Can't start already aborted transaction '%s'",config.familyName));
                case COMMITTED:
                    throw new DeadTransactionException(
                        format("Can't start already committed transaction '%s'",config.familyName));
                default:
                    throw new IllegalStateException();
            }
        }
        status = ACTIVE;
    }

#foreach($ref in $transactionalObjects)
    @Override
    public final ${ref.typeParameter} ${ref.tranlocal} openForRead(final ${ref.name}${ref.typeParameter} ref,  boolean lock, final BetaObjectPool pool) {

        if (status != ACTIVE) {
            throw abortOpenForRead(pool, ref);
        }

        if (ref == null) {
            return null;
        }

        lock = lock || config.lockReads;

        if(attached == null){
            //the transaction has no previous attached references.

#if(!$transaction.lean)
            if(!hasReads){
                localConflictCounter.reset();
                hasReads = true;
            }
#end
            if(lock){
                ${ref.tranlocal}${ref.typeParameter} read = ref.___lockAndLoad(config.spinCount, this);

                //if it was locked, lets abort.
                if (read.isLocked) {
                    throw abortOnReadConflict(pool);
                }

#if(!$transaction.lean)
                if(hasReadConflict()){
                    read.owner.___abort(this, read, pool);
                    throw abortOnReadConflict(pool);
                }

#end
                attached = read;
                return read;
            }

            ${ref.tranlocal}${ref.typeParameter} read = ref.___load(config.spinCount);

            if (read.isLocked) {
                throw abortOnReadConflict(pool);
            }

#if(!$transaction.lean)
            if(hasReadConflict()){
                read.owner.___abort(this, read, pool);
                throw abortOnReadConflict(pool);
            }

#end
            if(!read.isPermanent || config.trackReads){
                attached = read;
            }else{
#if(!$transaction.lean)
                hasUntrackedReads = true;
#else
                throw abortOnTooSmallSize(pool, 2);
#end
            }

            return read;
        }

        //the transaction has a previous attached reference
        if(attached.owner == ref){
            //the reference is the one we are looking for.
            ${ref.tranlocal}${ref.typeParameter} result = (${ref.tranlocal}${ref.typeParameter})attached;

#if(!$transaction.lean)
            if(result.isCommuting){
                if(!hasReads){
                    localConflictCounter.reset();
                    hasReads = true;
                }

                final ${ref.tranlocal}${ref.typeParameter} read = lock
                    ? ref.___lockAndLoad(config.spinCount, this)
                    : ref.___load(config.spinCount);

                if (read.isLocked) {
                    throw abortOnReadConflict(pool);
                }

                if (hasReadConflict()) {
                    ref.___abort(this, read, pool);
                    throw abortOnReadConflict(pool);
                }

                result.read = read;
                result.evaluateCommutingFunctions(pool);
                return result;
            }else
#end
            if(lock && !ref.___tryLockAndCheckConflict(this, config.spinCount, result)){
                throw abortOnReadConflict(pool);
            }

            return result;
        }

        if(lock || config.trackReads){
            throw abortOnTooSmallSize(pool, 2);
        }

#if(!${transaction.lean})
        if(!hasReads){
            localConflictCounter.reset();
            hasReads = true;
        }

#end
        ${ref.tranlocal}${ref.typeParameter} read = ref.___load(config.spinCount);

        //if it was locked, lets abort.
        if (read.isLocked) {
            throw abortOnReadConflict(pool);
        }

#if($transaction.lean)
        throw abortOnTooSmallSize(pool, 2);
#else
        if(read.isPermanent){
            throw abortOnTooSmallSize(pool, 2);
        }

        if(hasReadConflict()){
            read.owner.___abort(this, read, pool);
            throw abortOnReadConflict(pool);
        }

        hasUntrackedReads = true;
        return read;
#end
    }

    @Override
    public final ${ref.typeParameter} ${ref.tranlocal}${ref.typeParameter} openForWrite(
        final ${ref.name}${ref.typeParameter} ref, boolean lock, final BetaObjectPool pool) {

        if (status != ACTIVE) {
            throw abortOpenForWrite(pool, ref);
        }

        if (ref == null) {
            throw abortOpenForWriteWhenNullReference(pool);
        }

        if (config.readonly) {
            throw abortOpenForWriteWhenReadonly(pool, ref);
        }

        lock = lock || config.lockWrites;

        if(attached == null){
            //the transaction has no previous attached references.

#if(!${transaction.lean})
            if(!hasReads){
                localConflictCounter.reset();
                hasReads = true;
            }
#end
            ${ref.tranlocal}${ref.typeParameter} read = lock
                ? ref.___lockAndLoad(config.spinCount, this)
                : ref.___load(config.spinCount);

            //if it was locked, lets abort.
            if (read.isLocked) {
                throw abortOnReadConflict(pool);
            }

#if(!${transaction.lean})
            if(hasReadConflict()){
                read.owner.___abort(this, read, pool);
                throw abortOnReadConflict(pool);
            }
    
#end
#if($ref.isSpecialization())
            ${ref.tranlocal}${ref.typeParameter} result = pool.take(ref);
            if (result == null) {
                result = new ${ref.tranlocal}${ref.typeParameter}(ref);
            }
            result.value = read.value;
            result.read = read;
#else
            ${ref.tranlocal}${ref.typeParameter} result = read.openForWrite(pool);
#end

            attached = result;
            return result;
        }

        //the transaction has a previous attached reference

        if(attached.owner != ref){
            throw abortOnTooSmallSize(pool, 2);
        }

        //the reference is the one we are looking for.
        ${ref.tranlocal}${ref.typeParameter} result = (${ref.tranlocal}${ref.typeParameter})attached;

#if(!$transaction.lean)
        if(result.isCommuting){
            if(!hasReads){
                localConflictCounter.reset();
                hasReads = true;
            }

            final ${ref.tranlocal}${ref.typeParameter} read = lock
                ? ref.___lockAndLoad(config.spinCount, this)
                : ref.___load(config.spinCount);

            if (read.isLocked) {
                throw abortOnReadConflict(pool);
            }

            if (hasReadConflict()) {
                ref.___abort(this, read, pool);
                throw abortOnReadConflict(pool);
            }

            result.read = read;
            result.evaluateCommutingFunctions(pool);
            return result;
        }else
#end
        if(lock && !ref.___tryLockAndCheckConflict(this, config.spinCount, result)){
            throw abortOnReadConflict(pool);
        }

        if(!result.isCommitted){
            return result;
        }

        final ${ref.tranlocal}${ref.typeParameter} read = result;
#if($ref.isSpecialization())
        result = pool.take(ref);
        if (result == null) {
            result = new ${ref.tranlocal}${ref.typeParameter}(ref);
        }
        result.value = read.value;
        result.read = read;
#else
        result = read.openForWrite(pool);
#end
        attached = result;
        return result;
    }

    @Override
    public final ${ref.typeParameter} ${ref.tranlocal}${ref.typeParameter} openForConstruction(
        final ${ref.name}${ref.typeParameter} ref, final BetaObjectPool pool) {

        if (status != ACTIVE) {
           throw abortOpenForConstruction(pool, ref);
        }

        if (ref == null) {
            throw abortOpenForConstructionWhenNullReference(pool);
        }

        if (config.readonly) {
            throw abortOpenForConstructionWhenReadonly(pool, ref);                        
        }

        ${ref.tranlocal}${ref.typeParameter} result = (attached == null || attached.owner != ref) ? null : (${ref.tranlocal}${ref.typeParameter})attached;

        if(result != null){
            if(result.isCommitted || result.read != null){
               throw abortOpenForConstructionWithBadReference(pool, ref);
            }

            return result;
        }

        //check if there is room
        if (attached != null) {
            throw abortOnTooSmallSize(pool, 2);
        }

        if(ref.___unsafeLoad()!=null){
            throw abortOpenForConstructionWithBadReference(pool, ref);
        }

#if($ref.isSpecialization())
        result =  pool.take(ref);
        if(result == null){
            result = new ${ref.tranlocal}${ref.typeParameter}(ref);
        }
#else
        result = ref.___openForConstruction(pool);
#end
        attached = result;
        return result;
    }

    public ${ref.typeParameter} void commute(
        ${ref.name}${ref.typeParameter} ref, BetaObjectPool pool, ${ref.functionClass}${ref.typeParameter} function){

        if (status != ACTIVE) {
            throw abortCommute(pool, ref, function);
        }

#if($transaction.lean)
        config.needsCommute();
        abort(pool);
        throw SpeculativeConfigurationError.INSTANCE;
#else
        if (config.readonly) {
            throw abortCommuteWhenReadonly(pool, ref, function);
        }

        if (ref == null) {
            throw abortCommuteWhenNullReference(pool, function);
        }

        boolean contains = (attached != null && attached.owner == ref);
        if(!contains){
            if(attached!=null) {
                throw abortOnTooSmallSize(pool, 2);
            }

            //todo: call to 'openForCommute' can be inlined.
            ${ref.tranlocal}${ref.typeParameter} result = ref.___openForCommute(pool);
            attached=result;
            result.addCommutingFunction(function, pool);
            return;
        }

        ${ref.tranlocal}${ref.typeParameter} result = (${ref.tranlocal}${ref.typeParameter})attached;
        if(result.isCommuting){
            result.addCommutingFunction(function, pool);
            return;
        }

        if(result.isCommitted){
            final ${ref.tranlocal}${ref.typeParameter} read = result;
#if($ref.isSpecialization())
            result =  pool.take(ref);
            if(result == null){
                result = new ${ref.tranlocal}${ref.typeParameter}(ref);
            }
            result.read = read;
            result.value = read.value;
#else
            result = read.openForWrite(pool);
#end
            attached=result;
        }

#if($ref.isSpecialization())
        result.value = function.call(result.value);
#else
        throw new TodoException();
#end
#end ##if(transaction.lean)    
    }

#end ##for loop for transactionalobjects

    @Override
    public Tranlocal get(BetaTransactionalObject object){
        return attached == null || attached.owner!= object? null: attached;
    }

#if(!$transaction.lean)
    // ======================= read conflict =======================================

    private boolean hasReadConflict() {
        if(config.lockReads){
            return false;
        }

        if(hasUntrackedReads){
            return localConflictCounter.syncAndCheckConflict();
        }

        if(attached == null){
            return false;
        }

        if (!localConflictCounter.syncAndCheckConflict()) {
            return false;
        }

        return attached.owner.___hasReadConflict(attached, this);
    }

#end
    // ============================= addWatch ===================================

    public void addWatch(BetaTransactionalObject object, Watch watch){
        throw new TodoException();
    }


    // ======================= abort =======================================

    @Override
    public void abort() {
        abort(getThreadLocalBetaObjectPool());
    }

    @Override
    public final void abort(final BetaObjectPool pool) {
        if (status != ACTIVE && status != PREPARED) {
            switch (status) {
                case ABORTED:
                    return;
                case COMMITTED:
                    throw new DeadTransactionException(
                        format("[%s] Can't abort an already aborted transaction",config.familyName));
                default:
                    throw new IllegalStateException();
            }
        }

        if (attached != null) {
            attached.owner.___abort(this, attached, pool);
        }

        status = ABORTED;

#if(!$transaction.lean)
        if(permanentListeners != null){
            notifyListeners(permanentListeners, TransactionLifecycleEvent.PostAbort);
        }

        if(normalListeners != null){
            notifyListeners(normalListeners, TransactionLifecycleEvent.PostAbort);
        }
#end
    }

    // ================== commit ===========================================

    @Override
    public void commit() {
        commit(getThreadLocalBetaObjectPool());
    }

#if(${transaction.lean})
    @Override
    public final void commit(final BetaObjectPool pool) {
        if(status == COMMITTED){
            return;
        }

        if (status != ACTIVE && status != PREPARED) {
            switch (status) {
                case ABORTED:
                    throw new DeadTransactionException(
                        format("[%s] Can't commit an already aborted transaction", config.familyName));
                case COMMITTED:
                    return;
                default:
                    throw new IllegalStateException();
            }
        }

        if(abortOnly){
            throw abortOnWriteConflict(pool);
        }
            
        Listeners listeners = null;
        if(attached!=null){
            if(config.dirtyCheck){
                if(status == ACTIVE){
                    if(!doPrepareDirty(pool)){
                        throw abortOnWriteConflict(pool);
                    }
                }

                listeners = attached.owner.___commitDirty(attached, this, pool, config.globalConflictCounter);
            }else{
                if(status == ACTIVE){
                    if(!doPrepareAll(pool)){
                        throw abortOnWriteConflict(pool);
                    }
                }

                listeners = attached.owner.___commitAll(attached, this, pool, config.globalConflictCounter);
            }
        }

        status = COMMITTED;

        if(listeners != null){
            listeners.openAll(pool);
        }
    }
#else
    @Override
    public final void commit(final BetaObjectPool pool) {
        if(status == COMMITTED){
            return;
        }

        prepare(pool);
        Listeners listeners = null;
        if (attached!=null) {
            if(config.dirtyCheck){
                listeners = attached.owner.___commitDirty(attached, this, pool, config.globalConflictCounter);
            }else{
                listeners = attached.owner.___commitAll(attached, this, pool, config.globalConflictCounter);
            }
        }
        status = COMMITTED;

        if(listeners != null){
            listeners.openAll(pool);
        }

        if(permanentListeners != null){
            notifyListeners(permanentListeners, TransactionLifecycleEvent.PostCommit);
        }

        if(normalListeners != null){
            notifyListeners(normalListeners, TransactionLifecycleEvent.PostCommit);
        }
    }
#end

    // ======================= prepare ============================

    @Override
    public void prepare() {
        prepare(getThreadLocalBetaObjectPool());
    }

#if($transaction.lean)
    @Override
    public final void prepare(final BetaObjectPool pool) {
        if(status == PREPARED){
            return;
        }

        if(status != ACTIVE){
            switch (status) {
                case PREPARED:
                    return;
                case ABORTED:
                    throw new DeadTransactionException(
                        format("[%s] Can't prepare already aborted transaction", config.familyName));
                case COMMITTED:
                    throw new DeadTransactionException(
                        format("[%s] Can't prepare already committed transaction", config.familyName));
                default:
                    throw new IllegalStateException();
            }
        }

        if(abortOnly){
            throw abortOnWriteConflict(pool);
        }

        if(attached!=null && !config.lockWrites){
            if(config.dirtyCheck){
                if(!doPrepareDirty(pool)){
                    throw abortOnWriteConflict(pool);
                }
            }else{
                if(!doPrepareAll(pool)){
                    throw abortOnWriteConflict(pool);
                }
            }
        }

        status = PREPARED;
    }
#else
    @Override
    public final void prepare(final BetaObjectPool pool) {
        if(status != ACTIVE){
            switch (status) {
                case PREPARED:
                    return;
                case ABORTED:
                    throw new DeadTransactionException(
                        format("[%s] Can't prepare an already aborted transaction", config.familyName));
                case COMMITTED:
                    throw new DeadTransactionException(
                        format("[%s] Can't prepare an already committed transaction", config.familyName));
                default:
                    throw new IllegalStateException();
            }
        }

        boolean abort = true;
        try{
            if(permanentListeners != null){
                notifyListeners(permanentListeners, TransactionLifecycleEvent.PrePrepare);
            }

            if(normalListeners != null){
                notifyListeners(normalListeners, TransactionLifecycleEvent.PrePrepare);
            }

            if(abortOnly){
                throw abortOnWriteConflict(pool);
            }
          
            if(attached!=null){
                if(config.dirtyCheck){
                    if(!doPrepareDirty(pool)){
                        throw abortOnWriteConflict(pool);
                    }
                }else{
                    if(!doPrepareAll(pool)){
                        throw abortOnWriteConflict(pool);
                    }
                }
            }

            status = PREPARED;
            abort = false;
        }finally{
            if(abort){
                abort(pool);
            }
        }
    }
#end

    private boolean doPrepareDirty(final BetaObjectPool pool){
        if(config.lockWrites){
            return true;
        }

        if(attached.isCommitted){
            return true;
        }

#if(!$transaction.lean)
        if(attached.isCommuting){
            Tranlocal read = attached.owner.___lockAndLoad(config.spinCount, this);

            if(read.isLocked){
                return false;
            }

            attached.read = read;
            attached.evaluateCommutingFunctions(pool);            
        }else
#end
        if (attached.calculateIsDirty()
                    && !attached.owner.___tryLockAndCheckConflict(this, config.spinCount, attached)){
            return false;
        }

        return true;
    }

    private boolean doPrepareAll(final BetaObjectPool pool){
        if(config.lockWrites){
            return true;
        }
        
        if(attached.isCommitted){
            return true;
        }

#if(!$transaction.lean)
        if(attached.isCommuting){
            Tranlocal read = attached.owner.___lockAndLoad(config.spinCount, this);

            if(read.isLocked){
                return false;
            }

            attached.read = read;
            attached.evaluateCommutingFunctions(pool);
        }else
#end
        if(!attached.owner.___tryLockAndCheckConflict(this, config.spinCount, attached)){
            return false;
        }

        return true;
    }

    // ============================ registerChangeListenerAndAbort ===================

    @Override
    public void registerChangeListenerAndAbort(final Latch listener){
        registerChangeListenerAndAbort(listener, getThreadLocalBetaObjectPool());
    }

    @Override
    public final void registerChangeListenerAndAbort(final Latch listener, final BetaObjectPool pool) {
        if (status != ACTIVE) {
            throw abortOnFaultyStatusOfRegisterChangeListenerAndAbort(pool);
        }

        if(!config.blockingAllowed){
            throw abortOnNoBlockingAllowed(pool);
        }

        if( attached == null){
            throw abortOnNoRetryPossible(pool);
        }

        final long listenerEra = listener.getEra();
        final BetaTransactionalObject owner = attached.owner;

        final boolean failure = owner.___registerChangeListener(listener, attached, pool, listenerEra)
            == BetaTransactionalObject.REGISTRATION_NONE;
        owner.___abort(this, attached, pool);
        status = ABORTED;

#if(!$transaction.lean)
        if(permanentListeners != null){
            notifyListeners(permanentListeners, TransactionLifecycleEvent.PostAbort);
        }

        if(normalListeners != null){
            notifyListeners(normalListeners, TransactionLifecycleEvent.PostAbort);
        }

#end
        if(failure){
            throw abortOnNoRetryPossible(pool);
        }
    }

    // =========================== init ================================

    @Override
    public void init(BetaTransactionConfiguration transactionConfig){
        init(transactionConfig, getThreadLocalBetaObjectPool());
    }

    @Override
    public void init(BetaTransactionConfiguration transactionConfig, BetaObjectPool pool){
        if(transactionConfig == null){
            abort();
            throw new NullPointerException();
        }

        if(status == ACTIVE || status == PREPARED){
            abort(pool);
        }

        this.config = transactionConfig;
        hardReset(pool);
    }

    // ========================= reset ===============================

    @Override
    public boolean softReset(){
        return softReset(getThreadLocalBetaObjectPool());
    }

    @Override
    public boolean softReset(final BetaObjectPool pool) {
        if (status == ACTIVE || status == PREPARED) {
#if($transaction.lean)
            if(attached!=null){
                attached.owner.___abort(this, attached, pool);
            }
#else
            abort(pool);
#end
        }

        if(attempt >= config.getMaxRetries()){
            return false;
        }

        status = ACTIVE;
        attempt++;
        abortOnly = false;
        attached = null;
#if(!$transaction.lean)
        hasReads = false;
        hasUntrackedReads = false;
        if(normalListeners!=null){
            normalListeners.clear();
        }     
#end
        return true;
    }

    @Override
    public void hardReset(){
        hardReset(getThreadLocalBetaObjectPool());
    }

    @Override
    public void hardReset(final BetaObjectPool pool){
        if (status == ACTIVE || status == PREPARED) {
#if($transaction.lean)
            if(attached!=null){
                attached.owner.___abort(this, attached, pool);
            }
#else
            abort(pool);
#end
        }

        status = ACTIVE;
        abortOnly = false;        
        remainingTimeoutNs = config.timeoutNs;
        attached = null;
        attempt = 1;
#if(!$transaction.lean)
        hasReads = false;
        hasUntrackedReads = false;
        if(normalListeners !=null){
            pool.putArrayList(normalListeners);
            normalListeners = null;
        }

        if(permanentListeners!=null){
            pool.putArrayList(permanentListeners);
            permanentListeners = null;
        }
#end
    }

    // ================== orelse ============================

    @Override
    public final void startEitherBranch(){
        startEitherBranch(getThreadLocalBetaObjectPool());
    }

    @Override
    public final void startEitherBranch(BetaObjectPool pool){
        throw new TodoException();
    }

    @Override
    public final void endEitherBranch(){
        endEitherBranch(getThreadLocalBetaObjectPool());
    }

    @Override
    public final void endEitherBranch(BetaObjectPool pool){
        throw new TodoException();
    }

    @Override
    public final void startOrElseBranch(){
        startOrElseBranch(getThreadLocalBetaObjectPool());
    }

    @Override
    public final void startOrElseBranch(BetaObjectPool pool){
        throw new TodoException();
    }
}

